.navbars{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.logo-img{
  margin-left: 2%;
}
.links{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.links_title{
  width: 100px;
  list-style: none;
}
.Icon-img{
  margin: auto;
  margin-right: 2%;
}
.main{
  width: 100%;
}
.main img{
  position: relative;
  width: 100%;
  z-index: 10;
}
.main_h5{
  font-size: 15px;
  color: rgb(0, 0, 0);
  z-index: 213123;
}
.main .main_link{
  font-size: 15px;
  color: rgb(255, 0, 0);
  z-index: 213123;
}
.links2{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.links2_title{
  margin-top: 4%;
  font-size: 17px;
  list-style: none;
  color: #B3B3B3;
}
.cards{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3%;
}
.card{
  height: 40%;
  margin: 5px auto;
  display: flex;
}
.card_text{
  font-size: 15px;
}
.card_text2{
  font-size: 15px;
}
.card_btn{
  /* border: none;
  width: 302px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  padding: 1%;
  margin: 5% auto 5% 40%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6.5rem 0;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 2em;
}
.main3{
  position: relative;
}
.main3-img{
  width: 100%;
}
.circle{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #7E6E45;
  right: 30px;
  top: 40px;
  z-index: 99;
}
.circle_text{
  width: 59px;
  height: 63px; 
  font-size: 12px;
  margin-top: 20%;
  margin-left: 20%;
  text-align: center;
  color: #fff;
}
.main3_title{
  position: absolute;
  width: 20%;
  left: 10%;
  top: 25%;
font-size: 35px;
color: #fff;
}
.main3_btn{
  position: absolute;
  width: 10%;
  height: 5%;
  left: 10%;
  top: 40%;
  background-color: #7E6E45;
  padding-top: 6px;
  text-align: center;
}
.main3_link{
  position: absolute;
  width: 10%;
  height: 5%;
  left: 10%;
  top: 48%;
  color: #fff;
  list-style: none;
}
.main3_link:hover{
  color: rgb(203, 203, 203);
}
.main4{
  width: 100%;
  padding: 8%;
  background-color: #312F2E;
}
.main4_box{
  width: 100%;
  height: 40%;
  border: 1px solid red;
  background-color: #fff;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
.main4_box img{
  width: 60%;
  margin-left: 40%;
  right: 0;
  z-index: 10;
}
.left_text{
  width: 40%;
}
.left_title{
  width: 40%;
  margin-top: -68%;
  margin-left: 25%;
  font-size: 240%;
}
.left_p{
  width: 40%;
  margin-top: 3%;
  margin-left: 25%;
}
.left_a{
  width: 40%;
  margin-top: 3%;
  margin-left: 25%;
  color: #1A1A1A;
}
.left_a:hover{
  color: rgb(80, 80, 80);
}
.main5_title{
  width: 40%;
  font-size: 30px;
  margin: 5% auto;
}
.main5_cards{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.men_card{
  width: 45%;
}
.men_card a{
  color: #000;
}
.men_card img{
  width: 100%;
}
.women_card{
  width: 45%;
}
.women_card a{
  color: #000;
}
.women_card img{
  width: 100%;
}
.oral_shop{
  width: 70%;
  margin: 5% auto;
}
.oral_shop_card{
  width: 100%;
}
.oral_shop_card img{
  width: 100%;
}
.oral_shop a{
  color: #000;
}
.main6 img{
  position: relative;
}
.main6 h1{
  position: absolute;
  width: 60%;
  font-size: 35px;
  margin: -25% 24%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
}
.main6 a{
  position: absolute;
  width: 15%;
  font-size: 15px;
  margin: -18% 46%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
}
.main7{
  background-color: #CED3CA;
}
.main7 h1{
  font-size: 34px;
  padding-top: 8%;
  text-align: center;
}
.main7 p{
  font-size: 16px;
  text-align: center;
  margin: 2% auto;
  width: 26%;
}
.main7_box{
  width: 338px;
  height: 48px;
  border: 1px solid #000;
  background-color: #fff;
  margin: 6% auto 10%;
}
.footer{
  flex-wrap: wrap;
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 5%;
}
.footer a{
  list-style: none;
  text-decoration: none;
}
.footer_logo{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-right: -52%;
  margin-top: 30px;
}
.footer_info{
  width: 40%;
  text-align: right;
  margin-right: -100%;
}
.footer_net{
  margin: -8% auto 11px 185%;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 960px){
  .card_btn{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* margin: 5% auto; */
  }
}
