.navbars{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.logo-img{
  margin-left: 2%;
}
.links{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.links_title{
  width: 100px;
  list-style: none;
}
.Icon-img{
  margin: auto;
  margin-right: 2%;
}
.main{
  width: 100%;
}
.main img{
  position: relative;
  width: 100%;
  z-index: 10;
}
.main_h5{
  font-size: 15px;
  color: rgb(0, 0, 0);
  z-index: 213123;
}
.main .main_link{
  font-size: 15px;
  color: rgb(255, 0, 0);
  z-index: 213123;
}
.links2{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.links2_title{
  margin-top: 4%;
  font-size: 17px;
  list-style: none;
  color: #B3B3B3;
}
.cards{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3%;
}
.card{
  height: 40%;
  margin: 5px auto;
  display: flex;
}
.card_text{
  font-size: 15px;
}
.card_text2{
  font-size: 15px;
}
.card_btn{
  height: 56px;
  line-height: 56px;
  font-size: 2rem;
  padding: 0 2em;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  background-color: #000;
  margin-left: 33%;
}
.main3{
  position: relative;
}
.main3-img{
  width: 100%;
}
.circle{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #7E6E45;
  right: 30px;
  top: 40px;
  z-index: 99;
}
.circle_text{
  width: 59px;
  height: 63px; 
  font-size: 12px;
  margin-top: 20%;
  margin-left: 20%;
  text-align: center;
  color: #fff;
}
.main3_title{
  position: absolute;
  width: 35%;
  left: 10%;
  top: 25%;
font-size: 35px;
color: #fff;
}
.main3_btn{
  position: absolute;
  width: 182px;
  height: 40px;
  left: 10%;
  top: 55%;
  background-color: #7E6E45;
  padding-top: 6px;
  text-align: center;
}
.main3_link{
  position: absolute;
  height: 5%;
  left: 10%;
  top: 65%;
  color: #fff;
  list-style: none;
}
.main3_link:hover{
  color: rgb(203, 203, 203);
}
.main4{
  width: 100%;
  padding: 8%;
  background-color: #312F2E;
}
.main4_box{
  width: 100%;
  height: 40%;
  border: 1px solid red;
  background-color: #fff;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
.main4_box img{
  width: 60%;
  margin-left: 40%;
  right: 0;
  z-index: 10;
}
.left_text{
  width: 40%;
}
.left_title{
  width: 40%;
  margin-top: -78%;
  margin-left: 25%;
  font-size: 24px;
}
.left_p{
  width: 40%;
  margin-top: 3%;
  margin-left: 25%;
}
.left_a{
  width: 40%;
  margin-left: 25%;
  color: #1A1A1A;
}
.left_a:hover{
  color: rgb(80, 80, 80);
}
.main5_title{
  width: 90%;
  font-size: 30px;
  text-align: center;
  margin: 5% auto;
}
.main5_cards{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.men_card{
  width: 45%;
}
.men_card a{
  color: #000;
}
.men_card img{
  width: 100%;
}
.women_card{
  width: 45%;
}
.women_card a{
  color: #000;
}
.women_card img{
  width: 100%;
}
.oral_shop{
  width: 70%;
  margin: 5% auto;
}
.oral_shop_card{
  width: 100%;
}
.oral_shop_card img{
  width: 100%;
}
.oral_shop a{
  color: #000;
}
.main6 img{
  width: 100%;
  position: relative;
}
.main6 h1{
  position: absolute;
  width: 100%;
  font-size: 35px;
  margin: -25% auto;
  text-align: center;
  justify-content: center;
  color: #fff;
}
.main6 a{
  position: absolute;
  width: 90%;
  font-size: 15px;
  margin: -15% auto;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #fff;
}
.main7{
  background-color: #CED3CA;
}
.main7 h1{
  font-size: 34px;
  padding-top: 8%;
  text-align: center;
}
.main7 p{
  font-size: 16px;
  text-align: center;
  margin: 2% auto;
}
.main7_box{
  width: 338px;
  height: 48px;
  border: 1px solid #000;
  background-color: #fff;
  margin: 6% auto 10%;
}
.footer{
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 5%;
}
.footer_left_text{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}
.footer_right_text{
  width: 40%;
}
.footer_left{
  list-style: none;
  text-decoration: none;
}
.footer_right{
  list-style: none;
  text-decoration: none;
}
.footer_logo{
  width: 50px;
  height: 50px;
  /* margin: auto; */
  margin-right: 3%;
  margin-top: 30px;
}
.footer_info{
  width: 70%;
  text-align: right;
  margin-top: -25%;
}
.footer_net{
  /* margin: -8% auto 11px 50%; */
  width: 25%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 975px){
  .links2{
    width: 90%;
  }
  .card{
    height: 40%;
    margin: 5px auto;
    display: flex;
  }
  .card_btn{
    width: 95%;
    margin: 5% 2.5%;
    justify-content: center;
    align-items: center;
  }
  .main3_title{
    font-size: 25px;
  }
  .main3_link{
    top: 70%;
    font-size: 15px;
  }
  .left_title{
    font-size: 20px;
    margin-top: -70%;
    margin-left: 20%;
  }
  .left_p{
    font-size: 10px;
    margin-top: 2%;
    margin-left: 20%;
  }
  .left_a{
    margin-top: 12px;
    margin-left: 20%;
    font-size: 10px;
  }
  .main5_title{
    font-size: 20px;
  }
  .main6 h1{
    font-size: 28px;
  }
  .main7 p{
    width: 70%;
  }
}
@media(max-width:750px){
  .main3_title{
   font-size: 20px;
  }
  .main3_btn{
    width: 150px;
  }
  .left_title{
    font-size: 17px;
  }
  .left_p{
    font-size: 7px;
  }
  .left_a{
    margin-top: 3%;
    font-size: 7px;
  }
  .main5_title{
    width: 71%;
    font-size: 17px;
  }
  .main6 h1{
    font-size: 25px;
  }
  .main7 p{
    width: 70%;
  }
}
@media(max-width:600px){
  .links2{
    width: 98%;
  }
  .links2_title{
    font-size: 10px;
  }
  .main3_title{
    font-size: 13px;
   } 
   .main3_btn{
    width: 110px;
    height: 30px;
    font-size: 12px;
  }
  .main3_link{
    top: 80%;
    font-size: 12px;
  }
  .circle{
    display: none;
  }
  .left_title{
    font-size: 11px;
  }
  .left_p{
    font-size: 5px;
    margin-bottom: 1%;
  }
  .left_a{
    margin-top: 13px;
    font-size: 5px;
  }
  .main5_title{
    width: 71%;
    font-size: 16px;
  }
  .card_a{
    font-size: 12px;
  }
  .main6 h1{
    margin-top: -120px;
    font-size: 13px;
  }
  .main6 a{
    font-size: 10px;
    margin-top: -20%;
  }
  .main7 p{
    width: 90%;
  }
}
@media(max-width:400px){
  .main3_title{
    font-size: 10px;
   } 
   .left_title{
     width: 60%;
    font-size: 9px;
    margin-top: -80%;
    margin-left: 10%;
  }
  .left_p{
    width: 60%;
    font-size: 6px;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
  .left_a{
    margin-top: 12px;
    margin-left: 10%;
    font-size: 6px;
  }
  .main5_title{
    font-size: 10px;
  }
  .card_a{
    font-size: 10px;
  }
  .main7 p{
    width: 98%;
  }
}