.navbars{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.logo-img{
  margin-left: 2%;
}
.links{
  /* width: 900px; */
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* padding: 10%; */
}
.links_title{
  width: 100px;
  list-style: none;
}
.Icon-img{
  margin: auto;
  margin-right: 2%;
}
.main{
  width: 100%;
}
.main img{
  position: relative;
  width: 100%;
  z-index: 10;
}
.main_h5{
  position: absolute;
  margin-left: 10%;
  bottom: 54px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  z-index: 15;
}
.main .main_link{
  /* position: absolute; */
  /* margin-left: 140px; */
  /* top: 807px; */
  font-size: 15px;
  color: rgb(255, 0, 0);
  z-index: 213123;
}
.links2{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.links2_title{
  margin-top: 4%;
  font-size: 17px;
  list-style: none;
  color: #B3B3B3;
}
.cards{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 3%;
  /* padding: 5%; */
}
.card{
  width: 23%;
  height: 40%;
  /* padding: 2%; */
  display: flex;
}
.card_text{
  /* width: 50%; */
  font-size: 15px;
}
.card_text2{
  /* width: 25%; */
  font-size: 15px;
}
.card_btn{
  border: none;
  width: 15%;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  padding: 1%;
  margin-top: 5%;
  margin-left: 43%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.main3{
  position: relative;
  /* z-index: 10; */
}
.main3-img{
  width: 100%;
  /* z-index: 1; */
  /* height: 100vh; */
}
.circle{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #7E6E45;
  /* margin-top: 5px; */
  right: 30px;
  top: 40px;
  z-index: 99;
}
.circle_text{
  width: 59px;
  height: 63px; 
  font-size: 12px;
  margin-top: 20%;
  margin-left: 20%;
  text-align: center;
  color: #fff;
}
.main3_title{
  position: absolute;
  width: 20%;
  left: 10%;
  top: 25%;
font-size: 35px;
color: #fff;
}
.main3_btn{
  position: absolute;
  width: 10%;
  height: 5%;
  left: 10%;
  top: 40%;
  background-color: #7E6E45;
  padding-top: 6px;
  text-align: center;
}
.main3_link{
  position: absolute;
  width: 10%;
  height: 5%;
  left: 10%;
  top: 48%;
  color: #fff;
  list-style: none;
}
.main3_link:hover{
  color: rgb(203, 203, 203);
}
.main4{
  width: 100%;
  /* height: 690px; */
  padding: 5%;
  background-color: #312F2E;
}
.main4_box{
  width: 100%;
  height: 436px;
  /* width: 70%;
  height: 50%; */
  /* padding: 50%; */
  background-color: #fff;
}